/* Buttons
/* ------------------------- */

.btn {
    z-index: 0 !important;
    white-space: normal;
    opacity: .85;
}

.btn:hover, .btn:focus {
    color: #fff;
}

.btn-secondary {
    color: #ffffff;
    background-color: rgba(164, 163, 163, .6);
    border-color: #555;
}

.btn-secondary, .btn-success, .btn-danger, .btn-primary, .btn-info, .btn-warning {
    margin: 10px 5px;
    font-size: 18px;
    color: #fffcf5;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px !important;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    /* font */
    color: #383838;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: 0px;
    /* transitions */
    transition: all .3s ease 0s;
    /* other */
    background-color: rgba(202, 205, 206, .35);
    padding: 10px 30px;
    margin: 7px;
}

.panel-button:hover {
    background-color: #383838 !important;
    color: #fff !important;
    cursor: pointer;
}

.panel-button:active {
    background-color: #383838;
}

.panel-button:hover h1, .panel-button:active h1, .panel-button:hover h2, .panel-button:active h2, .panel-button:hover h3, .panel-button:active h3, .panel-button:hover h4, .panel-button:active h4, .panel-button:hover h5, .panel-button:active h5, .panel-button:hover h6, .panel-button:active h6 {
    color: #fff;
}

.panel-button:hover .panel-body .emergency {
    color: #fff;
}

.btn-filter {
    font-size: 1.5em;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.btn-filter:hover, .btn-filter:active {
    background-color: #383838;
    color: #fff
}

.red {
    background-color: rgba(217, 83, 79, .8);
}

.orange {
    background-color: rgba(240, 173, 78, .8);
}

.grey {
    background-color: rgba(164, 163, 163, .6);
}

.text-button {
    cursor: pointer;
}

.text-button:hover {
    opacity: .8;
}