/* Navbar
/* ------------------------- */

.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
    background-image: none;
    background-color: #4189C7;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-width: 0px 0px 1px 0px;
}

.nav-container {
    padding: 8px 0px !important;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.active>a {
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .25) !important;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top, rgb(44, 62, 80) 0%, rgb(44, 62, 80) 100%) !important;
    background-color: rgb(44, 62, 80) !important;
    border-color: rgb(44, 62, 80) !important;
}

.navbar-brand {
    color: #FAF7F2 !important;
    letter-spacing: 2px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 25px;
    padding: 30px 25px 18px 25px;
    height: auto !important;
}

.navbar-collapse,
.navbar-form {
    border-color: rgba(202, 205, 206, .5) !important;
}

.navbar-toggle {
    border: 0px solid transparent !important;
    border-color: transparent !important;
    margin-top: 10px !important;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: transparent !important;
}

.accountcontainer {
    border-top: 1px solid rgba(202, 205, 206, .5);
    margin: 15px 15px 0 15px;
    padding: 15px 15px 0 15px;
}

.account {
    color: #FAF7F2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logout {
    width: 100px;
}

.navbar-logout-btn {
    padding: 7px 5px 5px 5px !important;
    border-radius: 4px;
    margin-top: 5px;
}

.btn-link:hover,
.btn-link:focus {
    text-decoration: none !important;
}

.nav-glyphicon {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .navbar {
        height: 100%;
        width: calc(25% - 20px);
        border-radius: 0;
        border-width: 0;
        height: 100%;
    }

    .navbar-inverse {
        overflow: auto;
    }

    .navbar-header {
        float: none;
    }

    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }

    .navbar ul {
        float: none;
    }

    .navbar li {
        float: none;
        font-size: 18px;
    }

    .navbar li a {
        padding: 0px;
        border-radius: 4px;
    }

    .navbar a {
        width: 100%;
        white-space: normal;
    }
}

@media (max-width: 767px) {
    .main-nav {
        height: auto;
        max-height: 100vh;
        overflow-x: hidden;
    }

    .navbar-brand {
        font-size: 18px !important;
        padding: 15px 20px !important;
    }

    .navbar-collapse.collapsing {
        height: 0 !important;
    }

    .navbar-collapse.collapse.in {
        max-height: none;
        height: 100vh;
    }

    .navbar .navbar-nav a {
        font-size: 18px;
        text-align: center;
        padding: 0px;
        margin: 5px 0px;
    }

    .navbar-collapse,
    .navbar-form {
        border-color: transparent !important;
    }

    .navbar-collapse {
        border-top: 0px solid transparent !important;
        box-shadow: inset 0px 0px 0px transparent !important;
    }
}