.nav-button {
    width: 98%;
}

.btn-item {
    font-size: 16px;
    margin: 5px;
}

.btn-item:hover {
    background-color: black;
}

.filter-panel {
    background-color: #D4D3D3;
}

.funny-panel-big {
    height: 100%;
    margin: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.funny-panel-small {
    height: 100%;
    padding: 10px;
    margin: 0;
}

.cart-glow {
    animation: glow .7s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0px 0px 15px black;
    }
}